@import "./partials/variables";
@import "./partials/index";
@import "./partials/mixins";
@import "./partials/fonts";
@import "./partials/front-page";
@import "./partials/playback";
@import "./partials/loading";

.App {
  margin: 0 auto;
}
.container {
  text-align: center;
  h1 {
    margin-top: 0;
  }
}
